* {
    margin: 0;
    box-sizing: border-box;
}

.contain{
    background-image: url("../../public/img/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100vw;
}
.overlayL{
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.625);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover {
    background-color: white;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(150, 150, 150);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cover h1{
    padding: 5px;
}
.cover [required]:valid{
    border: thin solid #00B74A;
}
.cover [required]:invalid{
    border: thin solid #F93154;
}

input {
    border: none;
    background-color: rgba(150, 150, 150, 0.205);
    height: 4em;
    width: 80%;
    border-radius: 0.50em;
    text-align: center;
    padding: 2em;
}

input:focus {
    outline-color: rgb(32, 177, 255);
}

.login-btn {
    width: 40%;
    height: 3em;
    color: white;
    background-color: rgb(32, 177, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.login-btn:hover {
    transform: scale(1.10);
    background-color: rgb(32, 177, 255);
    color: white;
}

.registrer-btn {
    width: 40%;
    height: 3em;
    color: white;
    background-color: rgba(22, 90, 28, 0.733);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.registrer-btn:hover {
    background-color: rgba(22, 90, 28, 0.733);
    transform: scale(1.10);
    color: white;
}